.author {
    max-width: 579px;
    padding: 80px 40px 40px 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-shrink: 0;
    border-radius: 18px;
    border: 1px solid #111;
    background: rgb(112 116 116 / 68%);
}

.form {
    display: flex;
    flex-direction: column;
    width: 433px;
    height: 100%;
}

.formDiv {
    display: flex;
    justify-content: center;
    max-width: 499px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    margin-bottom: 40px;
}

.formContainer {
    max-width: 499px;
    width: 100%;
}

.formLabel {
    display: block;
    color: #111;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

.formWrapper {
    position: relative;
}

.formInput {
    -webkit-text-fill-color: #111;
    font-size: 18px;
    font-style: normal;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid #111;
    background-color: white;
    width: 90%;
}
.btnDiv {
    display: flex;
    justify-content: center;
}

.submit {
    color: #f3f3f3;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    display: flex;
    max-width: 499px;
    width: 100%;
    padding: 20px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: #111111c4;
    cursor: pointer;
    border: 1px solid gray;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
}
.submit:hover, .submit:focus, .submit:active {
    background-color: #58528b;
}